.registerWrapper  {
 justify-content: space-around;
}

.title {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.btnBlock span {
    color: #0070f3;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: underline;
}

.btnBlock {
    display: flex;
    flex-direction: column;

}

