.wrap {
    min-width: 500px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.row, .two, .three, .four, .five, .six {
    min-height: 50px;
    border: solid 1px black;
}

.two {
    width: 50%;
}

.three {
    width: 33.33%;
}

.four {
    width: 25%;
}

.five {
    width: 20%;
}

.six {
    width: 16.66%;
}



