.default {

}

.elementH1 {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 32px;
}

.TEXT_CENTER {
    display: flex;
    justify-content: center;

}

.Black {
    color: black;
}

.Red {
    color: red;
}

.Grey {
    color: grey;
}

.LightLue {
    color: blue;
}

.DarkBlue {
    color: navy;
}

.Green {
    color: green;
}

.Yellow {
    color: yellow;
}

.Pink {
    color: fuchsia;
}

.Orange {
    color: #ffa500;
}

.size80 {
    font-size: 80px;
}

.TEXT_LEFT {
    display: flex;
    justify-content: flex-start;

}

.TEXT_RIGHT {
    display: flex;
    justify-content: flex-end;
}

.BOLD {
    font-weight: bold
}

.ITALIC {
    font-style: italic
}

.UNDERLINE {
    text-decoration: underline
}

.LINE_THROUGH {
    text-decoration: line-through
}

.FONT_ROBOTO {
    font-family: Roboto sans-serif
}

.size8 {
    font-size: 8px
}

.size9 {
    font-size: 9px
}

.size10 {
    font-size: 10px
}

.size11 {
    font-size: 11px
}

.size12 {
    font-size: 12px
}

.size14 {
    font-size: 14px
}

.size16 {
    font-size: 16px
}

.size18 {
    font-size: 18px
}

.size20 {
    font-size: 20px
}

.size22 {
    font-size: 22px
}

.size24 {
    font-size: 24px
}

.size26 {
    font-size: 26px
}

.size28 {
    font-size: 28px
}

.size36 {
    font-size: 36px
}

.size48 {
    font-size: 48px
}

.size72 {
    font-size: 72px
}