.default {

}

.elementH1 {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 32px;
}

.TEXT_CENTER {
    display: flex;
    justify-content: center;

}

.size80 {
    font-size: 80px;
}