.lest {
    display: inline-block;
    flex-direction: column;
    box-sizing: inherit;
    width: content-box;

}

.none {
    transition: .2s;
    display: none;
}

.btn {
    background-color: rgb(247, 247, 247);
    border: 0;
    cursor: pointer;
}

.textBlock, .textBlockActive {
    color: rgb(109, 109, 109);
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.08em;
}

.textBlock:hover {
    color: black;
}

.textBlockActive {
    color: black;
}

.textBlock svg, .textBlockActive svg {
    transform: rotateX(0deg);
    margin-left: 3px;
    transition: 0.2s;
}

.textBlockActive svg {
    transform: rotateX(180deg);
}


.activeList li, .link, .currentList {
    cursor: pointer;
    color: rgb(109, 109, 109);
    margin-top: 10px!important;
}


.currentList {
    color: black!important;
}
.activeList li:first-child {
    margin: 0;
}
.activeList li:hover {
    color: black;
}

.activeList {
    transition: .2s;
    margin: 0;
    padding: 0 0 0 10px;
    display: block;
    list-style: none;
}

.activeSpan {
    width: 4px;
    height: 20px;
    border-left: 4px solid #aa00ff;
    padding-left: 16px;
    position: absolute;
    left: 30px;
    margin-top: 2px;
}

