.burgerWrapper {
    display: none;
}




@media (max-width: 599px) {
    .burgerWrapper {
        display: block;
        width: 50px;
        height: 40px;
        position: absolute;
        top: 3px;
        left: 76%;
    }
}




