.burgerWrapper {
    display: none;
}




@media (max-width: 599px) {
    .burgerWrapper {
        display: block;
        width: 50px;
        height: 40px;
        position: absolute;
        top: 3px;
        left: 82%;
    }

    .drawerMenu {
        position: relative;
        width: 280px;
        height: 100%;
        background: black;
    }

    .drawerWrepper {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .drawerAvatar {
        position: relative;
        top: 80px;
        left: calc(50% - 50px);
    }

    .drawerContent {
        margin-top: 80px;
        text-align: center;
    }
    .drawerContent hr {
        width: 80%;
        border: #aa00ff solid 1px;
    }

    .drawerContent ul li {
        color: white;
        list-style: none;
        font-family: 'Caveat', cursive;
        font-size: 34px;
        padding: 9px 0;
    }
    .drawerContent ul {
        margin-top: 45px;
        padding: 0;
    }

    .drawerContent span {
        color: white;
        text-align: center;
        font-family: 'Caveat', cursive;
        font-size: 34px;
    }

    .active li {
        color: #aa00ff !important;
    }

    .active span {
        display: none ;
    }

}






