.editWrapper {
    width: 95%;
}
.font, .toolBar {
    max-width: 1800px;
    border: solid black 1px;
}

.fontTitle {
    height: 30px;
    max-width: 488px;
    text-align: center;
}


.font {
    display: flex;
    align-items: center;
}

.toolBar {
    background-color: #f9f7f7;
    z-index: 100;
    display: flex;
    position: fixed;
    top: 30px;
    left: calc(50% - 650px);


}

.editor {
    z-index: 10;
    min-height: 1000px;
    box-sizing: border-box;
    position: relative;
    max-width: 1000px;
    top: 200px;
    left: calc(50% - 500px);
    border-top: 1px black solid;
    padding-bottom: 200px;
}
