.editWrapper {
    position: relative;
    max-width: 1200px;
    margin: 30px auto;
}
.font, .toolBar {
    max-width: 1000px;
    border: solid red 1px;
}

.fontTitle {
    height: 30px;
    max-width: 488px;
    text-align: center;
}


.font {
    display: flex;
    align-items: center;
}

.toolBar {
    display: flex;
    position: fixed;
    left: 20px;

}

.editor {
    position: relative;
    overflow: scroll;
    height: 600px;
    width: 100%;
    top: 150px;
    margin-top: 40px;
}
