.nawWrapper {
    width: 100%;
    height: calc(100vh - 30px);
    position: fixed;
    background-color: rgb(247, 247, 247);
    z-index: 5;
    top: 30px;
}

.navigation {
    margin-top: 80px;
}

.margin {
    margin-top: 20px;
}

.navigation nav {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}